<h1>Categories</h1>
<div class = "card-container">
{{#each serializedData}}
<div class="card bg-dark text-white">
  <img src="{{category_img}}" class="card-img cat-img" alt="">
  <div class="card-img-overlay">
    <h5 class="card-title"><a href="/api/categories/{{id}}">{{category_name}}</a></h5>
  </div>
</div>
{{/each}}
</div>
