<section class = "card-container">
{{!-- this iterate the category lists --}}

{{#each category as category}}

<div class="row"> 
    <h2>Categories of our Products</h2>
</div>

{{!-- this container hold visual links for each caterogies --}}
<section class="flex-row justify-center">
<div class="card">
        <img src="{{category_img}}" alt= {{category_name}}/>
    </a>
</div>
</section>
{{/each}}
</section>