<section class = "container">
{{!-- this iterate the category lists --}}
{{#each categories as |category|}}

{{!-- this container holds a collapsable category list--}}
<div class="row"> 

</div>

{{!-- this container hold visual links for each caterogies --}}
<section class="flex-row justify-center">
<div class="card">
        <header></header>
    </a>
</div>
</section>
</section>