<section class = "card-container">
{{!-- this iterate the category lists --}}
{{#each serializedData|}}

<div class="row"> 
    <h2>{{category_name}}</h2>
</div>

{{!-- this container hold visual links for each caterogies --}}
<section class="flex-row justify-center">
<div class="card">
        <img src="{{category_img}}" alt="Something"/>
    </a>
</div>
</section>
</section>