<div class="card-group container-fluid">
<h1>Browse by...</h1>
<div class = "cat-parent">
  <div class="cat-card card">
  {{#each serializedData}}
    <div class="cat-imgholder">
      <a href="/api/categories/{{id}}">
      <img src="{{category_img}}" class="card-img cat-img" alt="">
      <div class="card-body">
          <h5 class="card-title"><a id='cat-link' href="/api/categories/{{id}}">{{category_name}}</a></h5>
      </div>
      </a>
    </div>
  {{/each}}
  </div>
</div>
<script src="../js/addToCart.js"></script>
</div>