<section class="row col-12 justify-content-center">
<div class="col-12 col-md-8 col-lg-6">

<h2>Login</h2>

<form class="form login-form bg-dark text-light my-4 p-4 rounded">
  <div class="form-group">
    <label for="email-login">Email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-block btn-success" type="submit">Login</button>
  </div>
  <div class="form-group">
   <a href="/signup" class="btn btn-block btn-warning">Sign-Up</a>
  </div>  
</form>

</div>
</section>
<script src="/js/login.js"></script>


