<div class="card text-center">
  <div class="card-header">
    <h1>{{product_name}}</h1>
  </div>
  <img src="{{product_img}}" class="card-img-top" alt="{{alt}}" id="large-product">
  <div class="card-body">
    <p class="card-text">{{description}}</p>
    <a type="button" class="btn btn-dark">Add To Cart</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>