<section class="py-5 text-center">
  <h1 class="display-3">
    Thank You
  </h1>
  <p class="lead">Your order has been Placed!</p>
  <p>USER ID: <a id="user-id">{{serializedData.id}}</a></p>
  <a href="/" class="btn btn-success btn-lg">Continue Shopping</a>
</section>
<script src="/js/success.js"></script>